@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button @onclick="CreateGame" class="btn btn-primary" style="background-color: #333;">Add Game</button>

@code {
    void CreateGame()
    {
        NavigationManager.NavigateTo("/edit-game");
    }
}
